@charset "UTF-8";
/* Estilos de navegación*/
/*Estilos la fuente*/
@font-face {
  font-family: "Lato-Regular";
  src: url("../fuente/Lato-Regular.ttf") format("truetype");
  font-weight: normal;
}

.encabezado {
  margin: 20px;
}

nav a:hover {
  text-decoration: none;
  background-color: #ffffff;
  text-align: center;
  color: #EEB6B4;
  padding: 20px;
  cursor: pointer;
  font-family: "Lato-Regular";
  font-size: 1.5vw;
}

nav a:link {
  text-decoration: none;
  background-color: #ffffff;
  text-align: center;
  color: #131418;
  padding: 20px;
  font-family: "Lato-Regular";
  font-size: 1.5vw;
}

nav a:visited {
  text-decoration: none;
  background-color: #ffffff;
  text-align: center;
  color: #131418;
  padding: 20px;
  font-family: "Lato-Regular";
  font-size: 1.5vw;
}

nav a:active {
  text-decoration: none;
  background-color: #A9B0CB;
  color: #131418;
  padding: 20px;
  font-family: "Lato-Regular";
  font-size: 1.5vw;
}

body {
  width: 100%;
}

body .portada {
  text-align: center;
}

/*Estilos del submenú*/
.nav {
  width: 500px;
  /*Le establecemos un ancho*/
  margin: 0 auto;
  /*Centramos automaticamente*/
}

.nav > li {
  float: left;
}

ul {
  list-style: none;
}

.nav li a {
  color: #131418;
  text-decoration: none;
  padding: 10px 12px;
  display: block;
}

.nav li a:hover {
  background-color: #ffffff;
}

.nav li ul {
  display: none;
  position: absolute;
  min-width: 140px;
}

.nav li:hover > ul {
  display: block;
  background-color: #ffffff;
  color: #EEB6B4;
}

.nav li ul li {
  position: relative;
}

.nav li ul li ul {
  right: -140px;
  top: 0px;
}

/* Main */
.portada {
  margin: 10px;
}

/*Estilos de pie de página*/
.pie {
  background-color: #eeb6b4;
  margin: 10px;
  font-family: "Lato-Regular";
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
  color: #ffffff;
}

/*Estilos la fuente*/
@font-face {
  font-family: "Lato-Regular";
  src: url("../fuente/Lato-Regular.ttf") format("truetype");
  font-weight: normal;
}

/*Estilos de rounded corners*/
#corners1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-left: 100px;
  border-radius: 25px;
  background-color: #eeb6b4;
  padding: 20px;
  width: 200px;
  height: 150px;
  text-align: center;
  margin: auto;
}

.letrero {
  padding: 30px;
  margin: auto;
  font-family: "Lato-Regular";
  font-size: 25px;
  text-align: center;
}

.letrero:hover {
  padding: 30px;
  margin: auto;
  font-family: "Lato-Regular";
  font-size: 30px;
  text-align: center;
  color: #9f72f3;
  font-weight: bold;
}

/*Estilos de border image*/
#borderImages1 {
  text-align: center;
}

#border {
  border: 10px solid #ffb3b3;
}

/*Estilos de backgrounds*/
#backgrounds {
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  text-align: center;
  padding: 35px;
  margin: auto;
  width: 200px;
  height: 150px;
  background-color: #92a1f2;
  background-size: auto;
}

#backgrounds2 {
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  padding: 35px;
  margin: auto;
  width: 200px;
  height: 150px;
  background-color: #92a1f2;
  opacity: 0.3;
  margin-bottom: 30px;
}

#backgrounds6 {
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  padding: 35px;
  margin: auto;
  width: 200px;
  height: 150px;
  background: #ffffff url("../imagenes/pattern.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right top;
  background-attachment: scroll;
  margin-bottom: 30px;
}

/*Estilos de gradientes*/
#gradients {
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  padding: 35px;
  margin: auto;
  width: 200px;
  height: 150px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fda0a0), to(#ee9cff));
  background-image: linear-gradient(#fda0a0, #ee9cff);
  margin-bottom: 30px;
}

/*Estilos de sombras*/
#shadows {
  font-family: "Lato-Regular";
  font-size: 30px;
  padding: 20px;
  text-align: center;
  font-family: "Lato-Regular";
  font-size: 30px;
  margin: auto;
  color: #fda0a0;
  text-shadow: 10px 10px 10px #cc23ee;
}

h6.text_ {
  font-size: 30px;
  font-family: "Lato-Regular";
  text-align: center;
  white-space: nowrap;
  border: 1px solid #000000;
  overflow: hidden;
  text-overflow: clip;
  margin: auto;
}

#texto2 {
  text-align: center;
  margin: auto;
  padding-left: 150px;
  margin-left: 150px;
  margin: auto;
}

h6.text2_ {
  width: 150px;
  border: 1px solid #000000;
  word-wrap: break-word;
  font-size: 30px;
  font-family: "Lato-Regular";
  text-align: center;
  margin: auto;
}

#texto3 {
  text-align: center;
  margin: auto;
  margin-left: 150px;
  padding-left: 150px;
}

h6.text3_ {
  font-size: 30px;
  font-family: "Lato-Regular";
  text-align: center;
  width: 140px;
  border: 1px solid #000000;
  word-break: break-all;
  margin: auto;
}

h6.text4_ {
  font-size: 30px;
  font-family: "Lato-Regular";
  text-align: center;
  -webkit-writing-mode: vertical-rl;
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
  margin: auto;
  padding: 50px;
}

#animaciones {
  margin: auto;
  width: 100px;
  height: 100px;
  background: #ffc7fa;
  -webkit-animation: crescendo 1.5s alternate infinite ease-in;
  animation: crescendo 1.5s alternate infinite ease-in;
  text-align: center;
  padding: 50px;
  margin: auto;
  text-align: center;
}

@-webkit-keyframes crescendo {
  0% {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
  }
  100% {
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
  }
}

#animaciones1 {
  width: 300px;
  height: 100px;
  background-color: #f594f0;
  border: 1px solid #e271dd;
  -webkit-transform: rotateX(150deg);
          transform: rotateX(150deg);
  padding: 150px;
  margin: auto;
}

#transiciones {
  width: 100px;
  height: 100px;
  background: #ff8fdd;
  -webkit-transition: width 2s;
  transition: width 2s;
  margin: auto;
}

#transiciones:hover {
  width: 1000px;
}

#animacionescss3 {
  width: 100px;
  height: 100px;
  background-color: #e69dd9;
  -webkit-animation-name: example;
          animation-name: example;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  padding-left: 150px;
  margin: auto;
}

@-webkit-keyframes example {
  from {
    background-color: #ca32be;
  }
  to {
    background-color: #601170;
  }
}

@keyframes example {
  from {
    background-color: #ca32be;
  }
  to {
    background-color: #601170;
  }
}

.titulo {
  font-family: Arial, Helvetica, sans-serif;
  color: #fda0a0;
  text-align: center;
  padding: 20px;
}

.lista a:visited {
  color: #4e1a29;
  font-size: 150%;
  background-color: #FF4200;
  text-align: center;
}

#etiqueta {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  padding: 20px;
}

s {
  color: #FF0000;
  font-size: 0.75rem;
}

#clases {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  padding: 20px;
}

.lorem {
  border: 2px solid green;
  padding: 10px;
  border-radius: 25px;
  text-shadow: 2px 2px 4px #222022;
}

#iris {
  background-image: -webkit-gradient(linear, left top, right top, from(red), color-stop(#f26e02), color-stop(yellow), color-stop(#53f202), color-stop(#02f297), color-stop(#0207f2), to(#8202f2));
  background-image: linear-gradient(to right, red, #f26e02, yellow, #53f202, #02f297, #0207f2, #8202f2);
  padding: 30px;
  text-align: center;
}

.periodico[href*="https"] {
  background-color: #d6fa0b;
}

.periodico[target="_blank"] {
  background-color: #ff9900;
}

#pseudo-clases {
  text-align: center;
  margin: auto;
  padding: 20px;
}

p:lang(fr) {
  font-family: 'Times New Roman', Times, serif;
  color: #8202f2;
  font-size: 1rem;
}

h6:lang(es) {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-align: center;
  color: #270d25;
  font-size: 3rem;
}

ol li:first-child {
  color: #53f202;
  font-size: 5rem;
}

ol li:last-child {
  color: #0207f2;
  font-size: 3rem;
}

ol li:nth-child(4n) {
  color: #E3026F;
  font-size: 2rem;
}

.parrafo1_::first-letter {
  font-size: 130%;
  color: #8202f2;
}

.parrafo2_::first-letter {
  font-size: 130%;
  color: #8202f2;
}

.parrafo1_::first-line {
  font-style: italic;
  color: #53f202;
}

.parrafo1_::after {
  content: ".";
}

.parrafo2_::after {
  content: ".";
}
/*# sourceMappingURL=estilos2.css.map */
